.news-section {
    padding: 4em 0 3.5em;
}

.news-column h4 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    padding: 0.8em 0 0.3em;
    margin: 0;
}

.img-shift {
    position: relative;
    top: -150px;
}

.news-column p {
    color: #777;
    line-height: 1.7em;
    padding: 0.1em 0 0em;
    display: block;
    font-size: 1em;
}

.news-column:hover {
    background-color: aqua;
}