.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.font10 {
    font-size: 10px;
}

.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}