<!--<div *blockUI class="container-fluid">
    <header></header>
    <simple-notifications [options]="options"></simple-notifications>
    <div class="mainContainer">
        <router-outlet></router-outlet>
    </div>
    <footer></footer>-->
<div *blockUI class="container-fluid" id="container">
    <header></header>
    <simple-notifications [options]="options"></simple-notifications>
    <div id="body" class="mainContainer">
        <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </div>
    <div id="footer">
        <footer></footer>
    </div>
</div>
<!--</div>-->