.paddingTB60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.image-aboutus-banner {
    background: url("../../assets/aboutus/our_company.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 110px;
    padding-bottom: 110px;
}

.lg-text {
    font-size: 52px;
    font-weight: 600;
    text-transform: none;
    color: rgb(0, 0, 0);
}

.image-aboutus-para {
    color: rgb(0, 0, 0);
}

#about-us-para-img {
    width: 100%;
    height: 300px;
}

@media only screen and (max-width: 500px) {
    #about-us-para-img {
        width: 100%;
        height: 150px;
    }
}

.aboutus-hr-heading span {
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    font-weight: 600;
}

.aboutus-hr-heading {
    width: 60%;
    height: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin: auto;
}

.our-company-img {
    background-image: url("../../assets/aboutus/our_company.png");
}

.aboutus-footer {
    background-color: rgb(69, 170, 255);
    padding: 20px;
}

.aboutus-footer div {
    text-align: center;
}

.parallax {
    /* Full height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}