.aboutus-hr-heading span {
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    font-weight: 600;
}

.aboutus-hr-heading {
    width: 60%;
    height: 20px;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin: auto;
}

.our-company-img {
    background-image: url("../../assets/aboutus/our_company.png");
}

.aboutus-footer {
    background-color: rgb(69, 170, 255);
    padding: 20px;
}

.aboutus-footer div {
    text-align: center;
}

.about-right h5 {
    color: #fff;
    background: #b71b2b;
    padding: 5px 8px;
    font-size: 22px;
}

.service-num {
    padding: 0;
}