<div class="container" style="position:relative">
    <div class="row mt20 mb20">
        <div class="col-xs-12 col-sm-8 col-md-10">
            <form #quotationForm role="form">
                <fieldset>
                    <div class="row">
                        <div class="form-group font15 col-sm-6 col-xs-12 col-md-4">
                            <label class="control-label">Country</label>
                            <select class="form-control input-lg br0" id="country" [(ngModel)]="quotationData.country" patternService="namechk" name="country">
                                <option *ngFor="let country of countryList" value="country">{{ country }}</option>
                            </select>
                        </div>
                        <div class="form-group font15 col-sm-6 col-xs-12 col-md-4">
                            <label class="control-label">Treatment Type</label>
                            <select class="form-control input-lg br0" id="treatment" [(ngModel)]="quotationData.treatmentType" patternService="namechk" name="country" [value]="treatment.id">
                                <option *ngFor="let treatment of treatmentType" value="treatment.id">{{treatment.name}}</option>
                            </select>
                        </div>
                        <div class="form-group font15 col-sm-6 col-xs-12 col-md-4">
                            <label class="control-label">Number Of Patient</label>
                            <select class="form-control input-lg br0" id="number" [(ngModel)]="quotationData.patientNumber" patternService="namechk" name="country" [value]="county">
                                <option *ngFor="let number of noOfPeople" [value]="number">{{number}}</option>
                            </select>
                        </div>
                        <div class="form-group font15 col-md-12">
                            <label class="control-label">Other Expenses</label>
                            <div class="row" *ngFor="let facility of facilitiesList">
                                <div class="col-md-2">
                                    <label class="radio-inline">
                                        <input type="radio" id="airlineRadio" name="facility" [(ngModel)]="quotationData.other.airline" value="facility">
                                        {{ facility }}
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="foodRadio" name="food" [(ngModel)]="quotationData.other.food" value="true">Food
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="visaRadio" name="visa" [(ngModel)]="quotationData.other.visa" value="true">Visa
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="hotelRadio" name="hotel" [(ngModel)]="quotationData.other.hotel" value="true">Hotel
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4">
                                    <label class="radio-inline">
                                        <input type="radio" id="otherRadio" name="other" [(ngModel)]="quotationData.other.other" value="true">Other
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <button class="btn btn-primary customBtn" routerLink="/quotation/estimate" (click)="setEstimate()">Get Estimate</button>
        </div>
    </div>
</div>